<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Navbar Section -->
  <header>
    <nav>
      <div class="nav__header">
        <div class="nav__logo">
          <a href="#">
            <img src="../../logo-dark.png" alt="logo" class="logo-dark" />
          </a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <i class="ri-menu-line"></i>
        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#service">Services</a></li>
        <li><a href="#class">Classes</a></li>
        <li><a href="#contact">Blog</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>