<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="../../signup.css" />
  <title>Sign Up | FitnessPoint</title>

  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-J3XL1XKXXC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'G-J3XL1XKXXC', {
    cookie_domain: 'none',
    cookie_flags: 'SameSite=None;Secure',
  });
</script>

</head>
<body>
  {{>navbar}}

  <!-- Form Section -->
  <div class="form__container">
    <div class="form__card">
      <h2>Join Us!</h2>
      <p>Create an account to get started</p>
      <form action="/signup" method="POST">
        <div class="form__group">
          <label for="name">Full Name</label>
          <input type="text" id="name" name="fullname" placeholder="Enter your full name" required />
        </div>
        <div class="form__group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Enter your email" required />
        </div>
         <div class="form__group">
          <label for="phonenumber">Phone Number</label>
          <input type="number" id="number" name="phonenumber" placeholder="Enter your phone number" required />
        </div>
        <div class="form__group">
          <label for="age">Age</label>
          <input type="number" id="number" name="age" placeholder="Enter your age" required />
        </div>
        <div class="form__group">
          <label for="gender">Gender</label>
          <input type="text" id="text" name="gender" placeholder="Enter your gender" required />
        </div>
        <div class="form__group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Enter your password" required />
        </div>
        <div class="form__group">
          <label for="confirm-password">Confirm Password</label>
          <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm your password" required />
        </div>
        <button type="submit" class="btn">Sign Up</button>
        <p class="form__link">
          Already have an account? <a href="/login">Login</a>
        </p>
      </form>
    </div>
  </div>
</body>
</html>